%ul.manual
  space_kマニュアル

  %li.manual__text
    資産を登録するのは、オーナーとして登録している人でないとできません。
    オーナーとして登録してない人が資産登録画面に行こうとすると、ユーザー編集ページに飛ばされます(flash未設定)

  %li.manual__text
    登録された資産は、持ち主がオーナーではない限り、審査中というステータスになります。審査中の資産は、管理者ページから公開中に引き上げることができます。
    %p
      ユーザーに紹介される資産は公開中のステータスを持った資産のみとなります。