.hidden_item{
  display: none;
}

.user_type{
  display: block;
}


.avatar_preview{
  border: 1px solid black;
  width: 100px;
  height: 100px;
  margin-left: 13%;
}

.picture_preview{
  border: 1px solid black;
  width: 400px;
  height: 200px;
  position: absolute;
  cursor : pointer
}

.add_picture_bottun{
  cursor : pointer;
  color: green;
}

.avatar_thumb{
  width: 50px;
  height: 50px;

}

.user_bottun{
  width: 100px;
  height: 50px;
  margin: auto ;
  text-align: center;
  line-height: 50px;
  border: 1px solid lightgray;
  cursor : pointer;
  display: block;

}
.user_bottun:hover{
  background-color: lightgray;
}

.need_item{
  border-bottom: 1px solid red;
}

.form_item{
  margin-bottom: 20px;
  box-sizing: border-box;
}


.picture_field{
  position: relative;

  margin-bottom: 40px;
}

#remove_PF{
  position: absolute;
  font-size: 20px;
  color: red;
  left: 94%;
  z-index: 10;
}

label{
  position: relative;
  img{
    z-index: 0;
  }
}


.picture_comment{
  position: absolute;
  top: 80%;
  left: 110%;
}


.tag_summary_title{
  margin: 0 20px;
}

.tag_summary{
  cursor: pointer;
  cursor: hand;
  margin-right: 20px;
}

.tag_summary:hover{
  color: lightblue;

}

.warpper{
  @media screen and (max-width: 480px) {
    .warp-right{
      width: 90vw;
      left: 5vw;
    }

    .pc-img{
      display:none;
    }

    .warp-left{
      width: 100vw;
      height: 100vh;
      background: #17a2b8;
    }

    .signup-btn{
      margin-left: 35%;
    }

    .right-content{
      width: 50%;
    }

  }

  @media screen and (min-width: 481px) {
    .warp-right{
      width :30vw;
      right: 0;
    }

    .signup-btn{
      margin-left: 40%;
    }

    .right-content{
      width: 60%;
    }

  }
  position: relative;
  .warp-left{

    position: absolute;
    left: 0;
    img{
      width:100vw;
      height:100vh;
    }
  }

  .warp-right{
    .logo-title{
      a{
      font-size: 1.4em;
      color: #17a2b8 !important;
      }
    }
    .form-title{
      text-align: center;
      font-size: 1.4em;
      margin: 10px auto;
    }
    .user-form{
      border-bottom: 1px solid gray;
      padding-bottom: 20px;
    }
    position: absolute;
    background: #F6F6F6;
    height: 100vh;
    overflow: scroll;
    padding: 20px;
    /* border-left: 2px solid black; */
    box-sizing: border-box;

  }
}


.content-box{
  margin: 10px auto;
}
.right-content{
  float: left;
  margin: 40px auto;
  margin-right: 20px
}

.left-content{
  display: inline;
}



.other-login__link{
  text-align: center;
}

.other-login__link-img {
  width: 90%;
  margin: 10px 0;
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.other-login__link-img:hover {
  opacity: 0.5;
}

.need-item:after {
  content: " ※";
  color: red;
}

///////////////////エラーーーーーーっ分//
#error_explanation{
  color: red;

  margin: 13px auto;
  .error-title{
    text-align: center
  }
  ul{
    border: 1px solid;
    padding: 5px;
  }
}

.is-error{
  border: 1px solid red !important;
}