#itempage {
  @media screen and (max-width: 800px) {
    #item-mobile {
      .map {
        margin: 5px;
      }

      .card {
        .list-group {
          .list-group-item {
            .mb-list-right {
              float: right;
            }
          }
        }
      }
    }
    #item-md {
      display: none;
    }
  }

  @media screen and (min-width: 801px) {
    #item-md {
      background-color: #f6f4f3;

      .bg-white {
        background-color: white;
      }
    }
    #item-mobile {
      display: none;
    }
  }
}
