#itempage {
  @media screen and (max-width: 800px) {
    #item-mobile {
      .map {
        margin: 5px;
      }

      .card {
        .list-group {
          .list-group-item {
            .mb-list-right {
              float: right;
            }
          }
        }
      }
    }
    #item-md {
      display: none;
    }
  }

  @media screen and (min-width: 801px) {
    #item-detail {
      background-color: #f6f4f3;

      .bg-white {
        background-color: white;

        .row {
          .col-md-4 {
            .card {
              position: -webkit-sticky;
              position: sticky;
              top: 20px;
              bottom: 10px;

              ul.user_sns li {
                display: inline-block;
              }
            }
          }
        }
      }
    }
    #item-mobile {
      display: none;
    }
  }
}
